Timecard/.settings/org.jboss.ide.eclipse.as.core.prefs
Timecard/.settings/org.eclipse.m2e.core.prefs
Timecard/.settings/org.eclipse.jdt.core.prefs
Timecard/.project
Timecard/.classpath
Timecard/.gitignore
